node_modules
.next/app-build-manifest.json
*.json
.next/BUILD_ID
.next/cache/webpack/client-production/1.pack
.next/cache/webpack/client-production/2.pack
.env
.env.local
.env.*.local
debug.log
.next/
node_modules/
